{% extends "@ApplicationProjectContent/base/base_web.html.twig" %}

{% block title %}
    {{ title }} Show
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container center">
        <h1> {{ title }} Show</h1>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">Titulo:</li>
            <li class="list-group-item">
                <p class="lead">
                    {{ object.titulo }}
                </p>
            </li>
        </ul>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">Subtitulo:</li>
            <li class="list-group-item">
                <p class="lead">
                    {{ object.subtitulo }}
                </p>
            </li>
        </ul>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">Descrição:</li>
            <li class="list-group-item">
                <p class="lead">
                    {{ object.descricao }}
                </p>
            </li>
        </ul>


        <a style="margin-top: 20px;" class="btn btn-secondary" href="{{ path('web_documento_list') }}">Voltar</a>

    </div>
{% endblock %}

